@import "tailwindcss";

@theme {
  --animate-slide-up: slide-up 0.5s ease-out forwards;
  --animate-slide-down: slide-down 0.5s ease-out forwards;

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }
}